<!DOCTYPE HTML>
<html dir="rtl">
	<head>
		<%= render 'layouts/meta_tags' %>		
		<%= csrf_meta_tags %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/ie8.css" /><![endif]-->
	</head>
	<body>
		<%= yield %>
		<!-- Scripts -->
		<script src="assets/jquery.min.js"></script>
		<script src="assets/jquery.scrolly.min.js"></script>
		<script src="assets/jquery.poptrox.min.js"></script>
		<script src="assets/skel.min.js"></script>
		<script src="assets/util.js"></script>
		<!--[if lte IE 8]><script src="assets/ie/respond.min.js"></script><![endif]-->
		<script src="assets/main.js"></script>

	</body>
</html>